{:schema "kotoba.capability.repository.v1", :capability/version 1, :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi", :capability/definition-cid "bafyreidzbf6gmlgo4owxuejlaeb2whkwv4ws4vby2foeojitdl2ayhb3ya", :capability/dependencies #{}, :capability/imports #{:datagram-send :datagram-receive}, :authority "kotoba-lang/kotoba-core-contracts", :capability/default-policy :approval-required, :capability/artifact {:format :wasm-component, :digest-required? true, :signature-required? true}, :capability/radicle-rid "rad:z3DMYYbtnVmx5kvEpN9E1kV17zWhf", :capability/repository "kotoba-lang/capability-net-datagram", :capability/id "net/datagram", :capability/effects #{:data-egress :network-read :network-write}, :capability/provider-status :contract-only}
